/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
$wakeland-ltblue: #c9deed;
// Background colors:

// special colors
/* ----------- end Colors ----------- */
